* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E7E6E1;
  display: flex;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: block;
  padding: 20px 15px;
  margin: 0;
  color: #314E52;
  text-decoration: none;
}


.nav-link:after {
  content: "";
  display: none;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #11698E;
}

.nav-link.active, .nav-link:hover {
  color: #11698E;
}

.nav-link.active:after, .nav-link:hover:after {
  display: block;
}

