
body{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

h2{
	height: 70px;
}

a{
	color: black;
	padding: 10px;
	text-decoration: none;	
}

.tombol{
	position: absolute;
    top: 55px;
    border: 1px solid black;  
}


.table {
    font-family: sans-serif;
    color: #00000;
    border-collapse: collapse;
}
 
.table, th, td {
    border: 1px solid #00000;
    padding: 8px 20px;
}
 
